<div class="card main-header">
  <span class="card-title yellow lighten-4 brown-text text-darken-4">Your Dashboard</span>
</div>
<div class="dashboard-container">
  <div class="card dashboard-card brown darken-4">
    <span class="card-title yellow-text text-lighten-4">Edit Blog</span>
    <div class="card-content yellow lighten-4">
      <div class="input-field col s12">
        <input type="text" id="title-textarea" class="materialize-textarea">{{title}}</textarea>
        <label for="title-lbl">Title</label>
      </div>
      <div class="input-field col s12">
        <input id="content-textarea" class="materialize-textarea">{{content}}</textarea>
        <label for="content-lbl">Content</label>
      </div>
      <a id="create-btn" class="waves-effect waves-light btn create-btn">Create</a>
    </div>
  </div>
</div>

<script src="../js/create-post.js"></script>