<div class="card main-header">
    <span class="card-title yellow lighten-4 brown-text text-darken-4">The Tech Blog</span>
</div>
<div class="homepage-container">
    {{#each blogs as |blog|}}
    {{>homepage-blogs}}
    {{/each}}
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>



