<div class="card main-header">
  <span class="card-title yellow lighten-4 brown-text text-darken-4">The Tech Blog</span>
</div>
<div class="main-container">
  <div class="card login-card brown darken-4">
    <span class="card-title yellow-text text-lighten-4">Sign Up</span>
    <div class="card-content yellow lighten-4">
      <div class="input-field col s12">
        <textarea id="username-textarea" class="materialize-textarea"></textarea>
        <label for="username-lbl">Username</label>
      </div>
      <div class="input-field col s12">
        <textarea id="password-textarea" class="materialize-textarea"></textarea>
        <label for="password-lbl">Password</label>
      </div>
      <a id="sign-up-btn" class="waves-effect waves-light btn sign-up-btn">Sign Up!</a>
      <a class="brown-text text-darken-4" href="/user/login">Login instead</a></li>
    </div>
  </div>
</div>

<script src="../js/signUp.js"></script>